@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
* > a {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: white;
}

body {
  overflow: hidden;
}

.section__heading {
  position: relative;
  padding: 65px 0 40px;
}

.section__heading:after {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: 20%;
  content: "";
  background: #A91515;
  height: 4px;
  width: 80px;
  margin: 0 auto;
}

.section__heading--zindex {
  z-index: 2;
}

.section__title {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

.page {
  position: relative;
  left: 0;
  -webkit-transition: .3s left;
  transition: .3s left;
}

.page--move {
  left: 350px;
  -webkit-transition: .3s left;
  transition: .3s left;
}

.page__cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s, background 1.5s;
  transition: all .3s, background 1.5s;
  -webkit-box-shadow: inset 450px 14px 163px -44px rgba(0, 0, 0, 0.75);
          box-shadow: inset 450px 14px 163px -44px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.page__cover:hover {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 5s linear, all .4s linear;
  transition: all 5s linear, all .4s linear;
}

.page__cover--dark {
  visibility: visible;
  opacity: 1;
}

.menu {
  position: fixed;
  left: -350px;
  height: 100%;
  width: 350px;
  background: #7C0A0A;
  z-index: 5;
  border-bottom: solid 1px #7C0A0A;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu.menu--slidein {
  left: 0;
}

.menu.menu--outline {
  outline: 3px solid #A91515;
  outline-offset: 7px;
}

.menu__button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 20px;
  left: -60px;
  right: auto;
  height: 50px;
  width: 60px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__button--fadein {
  left: 20px;
}

.menu__button--absolute {
  position: absolute;
}

.menu__button--crucifix {
  left: 260px;
  -webkit-transition: left .35s;
  transition: left .35s;
}

.menu__button--crucifix .menu__hamburger {
  background: #7C0A0A;
}

.menu__button--crucifix .menu__hamburger:after {
  background: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 20px;
}

.menu__button--crucifix .menu__hamburger:before {
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 20px;
}

.menu__button:hover.menu__button--crucifix .menu__hamburger {
  background: #7C0A0A;
}

.menu__hamburger {
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background: #a9151591;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__hamburger:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background: #a9151591;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__hamburger:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background: #a9151591;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__button:hover .menu__hamburger, .menu__button:hover .menu__hamburger:after, .menu__button:hover .menu__hamburger:before {
  background: #A91515;
}

.menu__scrolltop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a9151591;
  right: -60px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 4;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__scrolltop:hover {
  background: #A91515;
}

.menu__scrolltop.menu__scrolltop--fadein {
  right: 20px;
}

.menu__scrolltop.menu__scrolltop--moveright {
  right: -320px;
}

.menu__scrolltop-arrow {
  color: white;
  font-size: 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  padding: 0 50px;
  height: 100%;
}

.menu__item {
  list-style-type: none;
  padding: 30px 0;
  width: 100%;
}

.menu__link {
  color: white;
  font-size: 28px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.menu__link:hover {
  color: #a9151591;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10vw 5px 10vw;
  max-width: 1170px;
  margin: 0 auto;
  height: 100px;
  background: white;
  -webkit-transition: .3s height;
  transition: .3s height;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__image {
  width: 200px;
  padding: 10px 0;
  -webkit-transition: .1s width;
  transition: .1s width;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  display: inline-block;
  width: auto;
}

.navbar__link {
  padding: 17px;
  font-size: 18px;
  color: black;
}

.navbar__link:hover {
  background: #A91515;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar__link--border {
  outline: 3px #A91515 solid;
  outline-offset: -3px;
}

.header {
  background-repeat: no-repeat;
  background-image: url(../img/22gradient.jpg);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 650px;
  visibility: inherit;
  overflow-y: hidden;
}

.header__container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10vw;
  text-shadow: 2px 2px 4px #000000;
}

.header__column {
  width: 60%;
  height: 100%;
}

.header__title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 65px;
  letter-spacing: 4px;
  line-height: 65px;
}

.header__description {
  font-size: 25px;
  font-style: italic;
  color: white;
  letter-spacing: 1px;
  line-height: 25px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px 0;
  background: white;
  height: 80px;
  width: 400px;
  background: -webkit-gradient(linear, left bottom, left top, from(#7c0a0a), color-stop(52%, rgba(116, 0, 0, 0.723127)), to(#7c0a0a));
  background: linear-gradient(0deg, #7c0a0a 0%, rgba(116, 0, 0, 0.723127) 52%, #7c0a0a 100%);
}

.header__number {
  font-size: 45px;
  text-decoration: none;
  color: white;
}

.welcome {
  background: white;
}

.welcome * {
  margin: 0;
  padding: 30px 0 10px 0;
  text-align: center;
}

.welcome__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.welcome__title {
  position: relative;
  font-size: 40px;
  line-height: 60px;
}

.underline {
  display: inline-block;
  height: 50px;
  position: relative;
}

.underline:after {
  position: absolute;
  left: 2px;
  bottom: 5px;
  content: '';
  height: 4.2px;
  width: 90px;
  background: #A91515;
  padding: 0;
}

.underline--narrow:after {
  position: absolute;
  left: 1px;
  bottom: -7px;
  content: '';
  height: 3.5px;
  width: 50px;
  background: #A91515;
  padding: 0;
}

.welcome__text {
  font-size: 18px;
  line-height: 1.6;
}

.services {
  margin: 0 auto;
  padding-bottom: 50px;
  background: white;
}

.services__container {
  max-width: 1170px;
  margin: 0 auto;
}

.services__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.services__list-box {
  position: relative;
  width: 360px;
  height: 180px;
  padding: 0 15px;
}

.services__table {
  display: table;
  margin: 40px 0px;
}

.services__left {
  display: table-cell;
  vertical-align: top;
}

.services__left .services__icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  color: #A91515;
  background: lightgrey;
}

.services__text {
  display: table-cell;
  vertical-align: top;
  font-weight: 600;
  width: auto;
  margin: auto 0;
  font-size: 24px;
  padding-bottom: 10px;
}

.services__postscript {
  color: #737373;
  line-height: 1.6;
}

.services__description {
  text-align: center;
  padding: 10px 15px 0;
  font-size: 24px;
  line-height: 1.4;
}

.call {
  position: relative;
  width: 100%;
  height: 200px;
  background: url(../img/electrical-planning.jpg) center center no-repeat;
  background-size: cover;
  z-index: 0;
}

.call::after {
  display: block;
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#7c0a0a), color-stop(52%, rgba(116, 0, 0, 0.723127)), to(#7c0a0a));
  background: linear-gradient(0deg, #7c0a0a 0%, rgba(116, 0, 0, 0.723127) 52%, #7c0a0a 100%);
  height: 100%;
  width: 100%;
  content: '';
  z-index: -1;
}

.call__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 1;
}

.call__column {
  width: 50%;
}

.call__text {
  color: white;
  margin: 0 0 5px 0;
}

.call__text--top {
  font-size: 45px;
  color: beige;
}

.call__text--bottom {
  font-size: 22px;
}

.call__contact {
  display: table;
  margin-top: 5px;
  width: 100%;
}

.call__contact p, .call__contact a {
  color: white;
  font-size: 29px;
  margin: 0;
}

.call__name {
  display: table-cell;
  vertical-align: top;
  padding-left: 60px;
}

.call__nr {
  display: table-cell;
  vertical-align: top;
  width: 230px;
}

.call__nr a {
  text-decoration: none;
  color: lightgrey;
}

.call__nr a:hover {
  -webkit-transition: color .4s;
  transition: color .4s;
  color: beige;
}

.call__nr i {
  margin-right: 10px;
  color: #A91515;
}

.repairs {
  width: 100%;
  height: auto;
}

.repairs__title {
  text-align: center;
  font-size: 26px;
  margin: 50px 0;
  line-height: 40px;
}

.repairs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.repairs__column {
  width: 250px;
  margin: 0 20px;
  font-size: 18px;
}

.repairs__colum {
  color: #737373;
}

.about {
  background: white;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: whitesmoke;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
}

.about__background {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
          clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
  width: 100%;
  padding: 80px 0;
  background-color: #7c0a0a;
  z-index: 2;
}

.about__text-container {
  max-width: 1170px;
  margin: 0 auto;
  z-index: 3;
}

.about__text-container p {
  color: white;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: .8px;
  margin: 0 10px;
}

.about__text {
  color: white;
  font-size: 22px;
  line-height: 34px;
  margin: 0 10px;
}

.gallery {
  position: relative;
  height: 900px;
  width: 100%;
  background: whitesmoke;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.gallery__container {
  width: 80%;
  max-width: 1140px;
  height: auto;
  margin: 20px auto;
  padding: 60px 0 10px 0;
}

.gallery__image {
  max-height: 400px;
  z-index: 2;
  width: auto;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .9s;
  transition: -webkit-transform .9s;
  transition: transform .9s;
  transition: transform .9s, -webkit-transform .9s;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform .9s;
  transition: -webkit-transform .9s;
  transition: transform .9s;
  transition: transform .9s, -webkit-transform .9s;
}

.gallery__expander {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  line-height: 100px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #6b6969;
  z-index: 4;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.gallery__expander:hover {
  color: black;
}

.contact {
  position: relative;
  background: white;
  z-index: 3;
}

.contact--shadow-outset {
  -webkit-box-shadow: 0px -130px 70px 60px white;
          box-shadow: 0px -130px 70px 60px white;
}

.contact:after {
  content: "";
  position: absolute;
  top: 0;
  height: 7px;
  width: 100%;
  background: black;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: 4;
}

.contact:before {
  content: "";
  position: absolute;
  top: -8px;
  height: 4px;
  width: 100%;
  background: #7C0A0A;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  z-index: 4;
}

.contact__svg {
  position: absolute;
  left: 1.5vw;
  top: 30px;
  width: 200px;
  height: auto;
}

.contact__electric-wire {
  width: 8px;
  height: 100px;
  background: black;
  margin: 0 auto;
}

.contact__bulb {
  bottom: 0;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact__container {
  width: 60vw;
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.contact__box {
  margin: 0 auto 55px;
}

.contact__subtitle {
  line-height: 30px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: black;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.contact__input {
  height: 40px;
  margin-bottom: 30px;
  padding: 5px 10px;
}

.contact__textarea {
  padding: 15px 10px 5px;
  height: 200px;
}

.contact__input, .contact__textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid #CED0C6;
  font-size: 18px;
  -webkit-transition: border .3s;
  transition: border .3s;
}

.contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: grey;
}

.contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: grey;
}

.contact__input::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: grey;
}

.contact__input::placeholder, .contact__textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  color: grey;
}

.contact__input:hover, .contact__textarea:hover, .contact__input:focus, .contact__textarea:focus {
  outline: none;
  border: 2px solid #A91515;
}

.contact__btn {
  cursor: pointer;
  margin: 40px auto;
  width: 130px;
  height: 50px;
  background: white;
  border: 2px solid #A91515;
  color: black;
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact__btn:hover {
  background: #A91515;
  color: white;
}

footer {
  width: 100%;
  background: black;
  font-size: 22px;
}

.footer__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__column {
  max-width: 40%;
  padding: 0 55px;
}

.footer__column--map-align {
  text-align: right;
}

.footer__logo-box {
  position: relative;
}

.footer__logo {
  width: 240px;
}

.footer__underline {
  background: #A91515;
  height: 4.2px;
  width: 50px;
  margin-bottom: 13px;
}

.footer__credits {
  color: white;
  font-size: 17px;
}

.footer__contact {
  display: table;
  margin-bottom: 10px;
}

.footer__contact--last {
  margin-top: 20px;
}

.name {
  display: table-cell;
  vertical-align: top;
  width: 170px;
}

.nr {
  display: table-cell;
  vertical-align: top;
}

.nr a {
  text-decoration: none;
  color: lightgrey;
}

.nr a:hover {
  -webkit-transition: color .4s;
  transition: color .4s;
  color: #A91515;
}

.nr i {
  margin-right: 10px;
  color: #A91515;
}

iframe {
  width: 450px;
  min-width: 320px;
  height: 290px;
}

@media screen and (max-width: 1200px) {
  .header {
    height: 54vw;
  }
  .header__title {
    font-size: 5.5vw;
    letter-spacing: .4vw;
    line-height: 5.4vw;
  }
  .header__description {
    font-size: 2.1vw;
    line-height: 2.1vw;
  }
  .header__box {
    margin: 7.5vw 0;
    height: 7vw;
    width: 33.5vw;
  }
  .header__number {
    font-size: 3.6vw;
  }
  .services__list-box {
    width: 290px;
    height: 220px;
  }
  .call__name {
    padding-left: 0;
  }
  .repairs__column {
    width: 355px;
  }
  .gallery__background {
    height: 1270px;
    outline: 5px solid black;
  }
  .contact__svg {
    width: 150px;
    top: -330px;
    left: 10px;
  }
  .contact__electric-wire {
    width: 5px;
  }
  .contact__bulb {
    width: 150px;
    height: 145px;
  }
  .footer__column {
    max-width: none;
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .menu__button {
    left: auto;
    right: 20px;
  }
  .menu__button--fadein {
    left: auto;
    right: 20px;
  }
  .navbar {
    height: 75px;
    padding: 10px 0 5px 5vw;
  }
  .navbar__nav {
    display: none;
  }
  .navbar__image {
    width: 150px;
  }
  .menu {
    left: -100%;
    width: 100%;
  }
  .menu__list {
    text-align: center;
  }
  .header__container {
    padding: 0 5vw;
  }
  .header__description {
    font-size: 2.1vw;
    line-height: 3.1vw;
  }
  .services__list-box {
    display: block;
    width: 100%;
    height: auto;
  }
  .services__table {
    margin: 10px 10vw;
  }
  .call {
    height: 280px;
  }
  .call__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .call__column {
    width: 100%;
    margin: 20px 0;
  }
  .call__name {
    width: 250px;
  }
  .repairs__column {
    width: 300px;
  }
  .gallery__background {
    height: 1440px;
  }
  .contact__svg {
    top: -200px;
  }
}

@media screen and (max-width: 768px) {
  .header__column {
    width: 100%;
  }
  .header__title {
    margin: 5vw 0;
    font-size: 6.5vw;
  }
  .header__description {
    font-size: 3.8vw;
    line-height: 3.8vw;
  }
  .header__box {
    margin: 4.5vw auto;
    height: 10vw;
    width: 53.5vw;
  }
  .header__number {
    font-size: 6.6vw;
  }
  .services__table {
    margin: 10px 0;
  }
  .repairs__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .repairs__column {
    width: 500px;
  }
  .gallery__background {
    height: 1190px;
  }
  .contact__svg {
    display: none;
  }
  .contact__container {
    width: auto;
    padding: 0 10px 40px 10px;
  }
  .footer__container {
    padding: 20px 0;
  }
  .footer__column {
    padding: 0 15px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 114vw;
    background-position: right bottom;
  }
  .header__title {
    font-size: 12.5vw;
    letter-spacing: .4vw;
    line-height: 13.4vw;
  }
  .header__description {
    font-size: 4.4vw;
    line-height: 5.8vw;
  }
  .header__box {
    margin: 13.5vw auto;
    height: 20vw;
    width: 81.5vw;
  }
  .header__number {
    font-size: 9.6vw;
  }
  .services__subtitle {
    font-size: 24px;
  }
  .call {
    height: 340px;
  }
  .call__text--top {
    font-size: 41px;
  }
  .call__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
  .repairs__column {
    width: 280px;
  }
  .about__container {
    -webkit-clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
  }
  .about__background {
    -webkit-clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
            clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  }
  .gallery {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
  }
  .gallery:after {
    -webkit-clip-path: polygon(0 99.5%, 100% 97.5%, 100% 99.5%, 0 100%);
            clip-path: polygon(0 99.5%, 100% 97.5%, 100% 99.5%, 0 100%);
  }
  .gallery__background {
    height: 1880px;
    outline: 3px solid black;
  }
  .contact__svg {
    width: 70px;
    top: 315px;
    left: 5px;
  }
  .contact__electric-wire {
    width: 3px;
  }
  .contact__bulb {
    width: 70px;
    height: 65px;
  }
  .footer__contact {
    display: inherit;
    margin-bottom: 15px;
  }
  .nr {
    display: inherit;
    margin-top: 5px;
  }
  iframe {
    height: 200px;
  }
}

.modal__photo-box {
  position: fixed;
  display: block;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0;
  z-index: -9;
}

.div {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 500px;
  width: 700px;
  padding: 0 50px;
  background: black;
}

.modal__photo-box--display {
  opacity: 1;
  z-index: 5;
}

.modal__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 500px;
  background-color: #303030;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal__exit {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
}

.modal__exit i {
  color: #b2b2b2;
  font-size: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.modal__exit i:hover {
  color: white;
}
/*# sourceMappingURL=main.css.map */